.my-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-page{
    color: #f6f6f5

}

.vtaco{
    color: darkgreen;

}
/* .change{
    background-color: blue;
} */

h3{
    color:green
}
h1{
    color: darkgreen
}

body {

    margin: 0px;
    padding: 0px
}

main{
    padding: 16px;
}

footer{

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(144, 172, 73);

}
img{
    height: 200px
}
nav{
    /* border-bottom: 1px,solid, black; */
    padding: 16px;
    background-color: rgb(231, 43, 43);
    border-bottom: 2px solid black;


}
a:link, a:visited{
    text-decoration: none;
    color: white
}

.table tr:nth-child(even){
    background-color: lightgrey;
}
